$whiteColor: #FFF;
$whiteGrayColor: #E0E0E0;
$grayBorderColor: #A1A1A1;
$grayColor: #999;
$blueColor: #4985FF;
$blackBlueColor: #2867e6;
$blackColor: #323232;
$titleBlackColor: #000;
$footerBgColor: #F6F6F8;